Repository ludwig-lab/pyeCAP: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, jupyter-nb-clear-output

.pre-commit-config.yaml:

fail_fast: true
repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: poetry run black
      language: system
      types: [file, python]
    - id: isort
      name: isort
      entry: poetry run isort
      args: ["--profile", "black"]
      language: system
      types: [file, python]
    - id: jupyter-nb-clear-output
      name: jupyter-nb-clear-output
      entry: poetry run clean notebooks
      files: \.ipynb$
      stages: [commit]
      language: system
      entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

Updated tdt_io and ts_data to work when a data stream only has a single channel
  pyeCAP/base/ts_data.py
  pyeCAP/io/tdt_io.py
Due: black, isort

Doubled cache size in epoch_data
  pyeCAP/base/epoch_data.py
Due: black, isort

Added pulse bin functionality to calcAUC.
  pyeCAP/base/epoch_data.py
  pyeCAP/emg.py
Due: black, isort

Added baseline_array function to epoch_data. Function returns ts_data from period before stimulation of passed parameter.
  pyeCAP/base/epoch_data.py
  pyeCAP/emg.py
Due: black, isort

fix panda version and fix guassian filter corner freq calculation and also add in bidirectional filtering
  pyeCAP/base/ts_data.py
  setup.py
Due: black, isort

Added heatmap functionality to the plot_binned_traces
  pyeCAP/base/epoch_data.py
Due: black, isort

Updated tick auto-spacing in plot_binned_traces heatmap format
  pyeCAP/base/epoch_data.py
Due: black, isort

calc_AUC in emg and ecap classes now returns a dataframe object instead of writing to the class object's self.master_df
  pyeCAP/base/utils/median.py
  pyeCAP/ecap.py
  pyeCAP/emg.py
  pyeCAP/io/tdt_io.py
Due: black, isort

added non-causal filtering and fixed the guassian filter
  pyeCAP/base/ts_data.py
Due: black, isort

Added "plot_phase" function to ECAP class. Plots multiple channels for a single parameter.
  pyeCAP/base/utils/median.py
  pyeCAP/ecap.py
  pyeCAP/emg.py
  pyeCAP/io/tdt_io.py
Due: black, isort

Updated plot_phase in ECAP class to work when a list of channel names is passed.
  pyeCAP/ecap.py
Due: black, isort

add dash to the requriements
  docs/requirements.txt
  setup.py
Due: black, isort

chore: Update h5py and Pillow versions in requirements.txt
  docs/requirements.txt
Due: none

Updated ts_data to address dask warning for map_overlap
  pyeCAP/base/ts_data.py
Due: black, isort

Updated filter_fir in ts_data to address dask warning for map_overlap when min_chunk_size < 3 * numtaps
  pyeCAP/base/ts_data.py
Due: black, isort

Initial commit
  pyeCAP/base/dio_epoch.py
Due: black, isort

Began working on PanTompkins algorithm for Phys class
  HF_Block_Pig05_Multifile.ipynb
  phys_test_nb.ipynb
  pyeCAP/phys.py
Due: black, isort, jupyter-nb-clear-output

PanTompkins function adds to dask array of Phys object and returns a new Phys object
  HF_Block_Pig05_Multifile_v2.ipynb
  phys_test_nb_v2.ipynb
  pyeCAP/phys.py
Due: black, isort, jupyter-nb-clear-output

Wrote non-dask version of Pan Tompkins algorithm into Phys class.
  phys_test_nb.ipynb
  phys_test_nb_v2.ipynb
  pyeCAP/phys.py
Due: black, isort, jupyter-nb-clear-output

Fix plot_binned_traces in epoch data to include trace of last value of bin
  pyeCAP/base/epoch_data.py
Due: black, isort

Added test notebook to git
  kc_HFtest_nb.ipynb
Due: jupyter-nb-clear-output

Added bin functionality to ECAP.calc_AUC function. Removed new_df as an input argument to ECAP.calc_AUC and EMG.calc_AUC
  pyeCAP/ecap.py
  pyeCAP/emg.py
Due: black, isort

Updated gaussian function calculation of sigma
  pyeCAP/base/ts_data.py
Due: black, isort

Updated gaussian function for user to manually define sigma
  pyeCAP/base/ts_data.py
Due: black, isort

Added _index_to_time function to ts_data
  kc_HFtest_nb.ipynb
  pyeCAP/base/epoch_data.py
  pyeCAP/base/ts_data.py
Due: black, isort, jupyter-nb-clear-output

Changed plot function in Phys class to work when an axis of a subplot is passed.
  pyeCAP/base/dio_epoch.py
  pyeCAP/phys.py
Due: black, isort

Updated baseline array to correctly work when multiple TDT files are read into the same object
  pyeCAP/base/epoch_data.py
Due: black, isort

Added plot_phys function to phys_response.py that plots a single phys response channel with appropriate time scale for later processing
  kc_HFtest_nb.ipynb
  pyeCAP/base/dio_epoch.py
  pyeCAP/base/utils/median.py
  pyeCAP/io/tdt_io.py
  pyeCAP/phys_response.py
Due: black, isort, jupyter-nb-clear-output

Added 'channels' and 'window' as input arguments for plot_psd
  pyeCAP/base/ts_data.py
Due: black, isort

Added ability to remove colorbar from plot_binned_traces and/or change colobar label
  pyeCAP/base/epoch_data.py
  pyeCAP/base/utils/median.py
  pyeCAP/io/tdt_io.py
Due: black, isort

setting up flake for uv management of package
  flake.nix
Due: none

updating toml file to uv format
  flake.lock
  flake.nix
  pyproject.toml
Due: none

creating uv lock file
  flake.lock
  flake.nix
  pyproject.toml
Due: none

creating uv lock file
  uv.lock
Due: none

changing pyecap folder name
  flake.nix
  pyecap/__init__.py
  pyecap/base/__init__.py
  pyecap/base/dio_data.py
  pyecap/base/dio_epoch.py
  pyecap/base/epoch_data.py
  pyecap/base/event_data.py
  pyecap/base/parameter_data.py
  pyecap/base/ts_data.py
  pyecap/base/utils/__init__.py
  pyecap/base/utils/base.py
  pyecap/base/utils/median.py
  pyecap/base/utils/median_naive.py
  pyecap/base/utils/numeric.py
  pyecap/base/utils/visualization.py
  pyecap/ecap.py
  pyecap/emg.py
  pyecap/ephys.py
  pyecap/io/__init__.py
  pyecap/io/adinstruments_io.py
  pyecap/io/ripple_io.py
  pyecap/io/tdt_io.py
  pyecap/phys.py
  pyecap/phys_response.py
  pyecap/pyeCAP.py
  pyecap/stim.py
  pyecap/temp_from_kc_branch/ecap_branch.py
  pyecap/temp_from_kc_branch/ecap_old.py
  pyecap/temp_from_kc_branch/emg_branch.py
  pyecap/temp_from_kc_branch/epoch_data_branch.py
  pyecap/utilities/__init__.py
  pyecap/utilities/ancillary_functions.py
  pyecap/viz/interactive.py
  pyproject.toml
  uv.lock
Due: black, isort

setting up uv
  examples/01_Introduction to pyeCAP.ipynb
  flake.nix
  pyproject.toml
Due: jupyter-nb-clear-output

setting up uv
  examples/01_Introduction to pyeCAP.ipynb
Due: jupyter-nb-clear-output

adding live features
  examples/01_Introduction to pyeCAP.ipynb
  examples/02_Interacting and Plotting Ephys Data.ipynb
Due: jupyter-nb-clear-output

adding live features
  examples/03_Working with Multiple Data Sets.ipynb
  examples/04_Referencing Methods for Ephys Data.ipynb
  examples/05_Power Spectral Analysis and Filtering of Ephys Data.ipynb
  pyecap/live/stimulators/keithley/keithley_6221.py
  pyecap/live/waveforms/stim_electrical.py
Due: black, isort, jupyter-nb-clear-output
