Repository ludwig-lab/pyeCAP: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, jupyter-nb-clear-output

black:
  name: black
  entry: poetry run black
  language: system

isort:
  name: isort
  entry: poetry run isort
  args:
  - --profile
  - black
  language: system

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace
  stages:
  - commit
  language: system

adding livecap and upping version
  examples/06_Working with Stimulation Data.ipynb
  examples/07_AUC Calculation.ipynb
  pyproject.toml
  uv.lock
Due: jupyter-nb-clear-output

adding live features
  pyecap/live/__init__.py
  pyecap/live/stimulators/__init__.py
  pyecap/live/stimulators/keithley/__init__.py
Due: black, isort

setting livecap
  pyproject.toml
Due: none

adding live features
  pyproject.toml
Due: none

adding requirements file
  Untitled.ipynb
  dev/Untitled.ipynb
  dev/Untitled1.ipynb
  requirements.txt
  result
Due: jupyter-nb-clear-output

adding requirements.txt
  pyproject.toml
  result
  uv.lock
Due: none

adding new Keithley 6221 control code
  pyecap/live/stimulators/keithley/keithley_6221.py
  pyecap/live/waveforms/stim_electrical.py
  pyproject.toml
Due: black, isort

Updated calc_AUC in ecap.py to provide 'Pulse Bin' output
  kc_HFtest_nb.ipynb
  pyeCAP/ecap.py
Due: black, isort, jupyter-nb-clear-output

Updated calc_AUC in ecap.py to provide 'Pulse Bin' output
  kc_HFtest_nb.ipynb
  pyeCAP/base/ts_data.py
Due: black, isort, jupyter-nb-clear-output

improving nix flake
  result
Due: none

Updated tdt_io to allow import of older TDT data files without StoresListing.txt
  KC_Tank_Import_debug.ipynb
  kc_HFtest_nb.ipynb
  pyecap/base/epoch_data.py
  pyecap/io/tdt_io.py
Due: black, isort, jupyter-nb-clear-output

Updated epoch_data.py to account for rounding errors in sample length when performing dask array construction.
  KC_Tank_Import_debug.ipynb
  pyecap/base/epoch_data.py
Due: black, isort, jupyter-nb-clear-output

Updated pyproject.toml and uv.lock after moving to uv interpreter
  pyproject.toml
  uv.lock
Due: none

updating nix setup
  examples/01_Introduction to pyeCAP.ipynb
  examples/03_Working with Multiple Data Sets.ipynb
  examples/04_Referencing Methods for Ephys Data.ipynb
  result
  src/pyecap/base/ts_data.py
  src/pyecap/base/utils/numeric.py
Due: black, isort, jupyter-nb-clear-output

adding pythonpath setup
  flake.nix
Due: none

adding pythonpath setup
  pyproject.toml
Due: none

Updated 'calc_auc' in emg.py to work with median averaging. Updated '.median' in epoch_data.py to accomodate trace binning. Removed pre-commit due to problems following uv migration.
  KC_Tank_Import_debug.ipynb
  pyecap/base/epoch_data.py
  pyecap/emg.py
  pyproject.toml
  uv.lock
Due: black, isort, jupyter-nb-clear-output

Reverted pyproject.toml and uv.lock to previous versions
  pyproject.toml
  uv.lock
Due: none

initial update
  .idea/.gitignore
  ancillary/__init__.py
  ancillary/ancillary_functions.py
  ancillary/surgical_log_io.py
  examples/inspect_tdt_block.py
  examples/master_tdt_analysis.py
  pyeCAP/__init__.py
  pyeCAP/acquisition_io/__init__.py
  pyeCAP/acquisition_io/adinstruments_io.py
  pyeCAP/acquisition_io/ripple_io.py
  pyeCAP/acquisition_io/tdt_io.py
  pyeCAP/base/epoch_data.py
  pyeCAP/base/ts_data.py
  pyeCAP/base/utils/base.py
  pyeCAP/base/utils/visualization.py
  pyeCAP/ecap.py
  pyeCAP/ephys.py
  pyeCAP/io/tdt_io.py
  pyeCAP/phys.py
  pyeCAP/pyeCAP.py
  pyeCAP/stim.py
  pyeCAP/utilities/ancillary_functions.py
  pyeCAP/visualization.py
  setup.py
  steps/master_tdt_analysis.py
  steps/visualanalysis.ipynb
  tests/test_epoch_refactor.py
  tests/test_tdt_stim_detection.py
Due: black, isort, jupyter-nb-clear-output

initial update
  ancillary/master_tdt_analysis_v7.py
  docs/source/conf.py
  examples/ecap_smoke_test.py
  examples/ecap_surface_demo.py
  pyeCAP/acquisition_io/tdt_io.py
  pyeCAP/base/epoch_data.py
  pyeCAP/ecap.py
  steps/master_tdt_analysis.py
  steps/visualanalysis.ipynb
  tests/conftest.py
Due: black, isort, jupyter-nb-clear-output

remove poetry lock file
  poetry.lock
Due: none

Initial Commit
  dev/KC_Tank_Import_debug.ipynb
  dev/Untitled.ipynb
  dev/Untitled1.ipynb
  dev/kc_HFtest_nb.ipynb
  pyproject.toml
Due: jupyter-nb-clear-output

Removed old branch folder/files.
  src/pyecap/temp_from_kc_branch/ecap_branch.py
  src/pyecap/temp_from_kc_branch/ecap_old.py
  src/pyecap/temp_from_kc_branch/emg_branch.py
  src/pyecap/temp_from_kc_branch/epoch_data_branch.py
Due: black, isort

update to increate mean calculation time by optimizing filters in ts_data.py
  pyeCAP/base/ts_data.py
  steps/master_tdt_analysis.py
Due: black, isort

Updated visualization and gathering of eCAPs contaminated by stimulus artifact decay
  pyeCAP/base/ts_data.py
  pyeCAP/ecap.py
  pyeCAP/visualization.py
  steps/master_tdt_analysis.py
  steps/visualanalysis.ipynb
Due: black, isort, jupyter-nb-clear-output

Modernize Python packaging and compatibility
  .python-version
  pyproject.toml
  src/pyecap/base/ts_data.py
  tests/test_base/test_utils/test_base.py
  tests/test_base/test_utils/test_median.py
  tests/test_base/test_utils/test_numeric.py
  uv.lock
Due: black, isort

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  jupyter-nb-clear-output: any of: \.ipynb$
